<h1>Make and Eat Da Burger</h1>
<form class="newForm">
    <input id="burger_name"></input>
    <button id="burgerbutton">save burger</button>
</form>
<ul>
    {{#each burgers}}
    <li>{{id}}{{burger_name}}{{devoured}}</li>
    <button id="devoured" value="1">Devour</button>
    {{/each}}
</ul>