<h1>Make and Eat Da Burger</h1>
<form class="newForm">
    <input id="burger_name"></input>
    <button id="burgerbutton">save burger</button>
</form>
<ul>
    {{#each burgers}}
    <li>{{id}}{{burger_name}}{{devoured}}</li>
    {{/each}}
</ul>
<script>
    $("#burgerbutton").on('click', function () {
        event.preventDefault();


        var newBurger = {
            burger_name: $("#burger_name").val(),
            devoured: false,
        }

        $.ajax({
            url: "/api/burgers",
            type: "POST",
            data: newBurger
        }).then(function (data) {
            location.reload()
        })
        console.log("new burger", newBurger)
    })
</script>