<h1>Make and Eat Da Burger</h1>
<form class="newForm">
    <input id="burger_name"></input>
    <button id="burgerbutton">save burger</button>
</form>
<ul>
    {{#each burgers}}
    <li>{{id}}{{burger_name}}{{devoured}}</li>
    <button id="devoured" value="0">Devour</button>
    {{/each}}
</ul>

<h2>Burgers Devoured!</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{true}}
    {{/if}}
    {{/each}}
</ul>

<script>
    $("#burgerbutton").on('click', function () {
        event.preventDefault();


        var newBurger = {
            burger_name: $("#burger_name").val(),
            devoured: false,
        }

        $.ajax({
            url: "/api/burgers",
            type: "POST",
            data: newBurger
        }).then(function (data) {
            location.reload()
            console.log("new burger", data)
        })
    });

    $("#devoured").on("click", function () {
        event.preventDefault();

        var id = 2

        var devouredBurger = {
            devoured: true,
        };

        console.log("this is the id ", id)
        $.ajax({
            url: "/api/burgers/" + id,
            type: "PUT",
            data: devouredBurger
        }).then(function () {
            location.reload();

            console.log("it is devoured", devoured)
        })
    })

</script>