<div class="header">
    <h1>Make your Burger and Eat it Too!</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form class="newForm">
                <h2>Step 1: Make your Burger</h2>
                <input id="burger_name" placeholder="Title of Burger"></input>
                <button id="burgerbutton">Save Burger</button>
                <i class="material-icons" style="align-self:flex-start; float:left">arrow forward</i>
            </form>
        </div>
        <div class="col">
            <h2>Step 2: Devour your Burger</h2>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li>{{burger_name}}</li>
                <button class="devoured" value="0" name="{{id}}" type="submit">Devour It!</button>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col">
            <h2>Step 3: Your Devoured Burgers</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>{{burger_name}}</li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>
<script>
    $("#burgerbutton").on('click', function () {
        event.preventDefault();


        var newBurger = {
            burger_name: $("#burger_name").val(),
            devoured: false,
        }

        $.ajax({
            url: "/api/burgers",
            type: "POST",
            data: newBurger
        }).then(function (data) {
            location.reload()
            console.log("new burger", data)
        })
    });

    $(".devoured").on("click", function (event) {
        event.preventDefault();

        var devouredBurger = {
            devoured: true,
        };

        console.log("this is the id ", $(this).attr("name"))
        $.ajax({
            url: "/api/burgers/" + $(this).attr("name"),
            method: "PUT",
            data: devouredBurger
        }).then(function (data) {
            console.log(".then(worked)")
            location.reload();
            console.log("it is devoured", data)
        })
    })

</script>