<h1>Make and Eat Da Burger</h1>
<input id="burger_name"></input>
<button id="burgerbutton">save burger</button>
<ul>
    {{#each burgers}}
    <li>{{id}}{{burger_name}}{{devoured}}</li>
    {{/each}}
</ul>
<script>
    $("#burgerbutton").on('click', function () {


        var newBurger = {
            burger_name: $("#burger_name").val(),
            devoured: false,
        }

        $.ajax({
            url: "/api/burgers",
            type: "POST",
            data: newBurger
        }).then(function (data) {
            console.log("newburgermade", data)
        })
        console.log("new burger", newBurger)
    })
</script>